<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}gaa{% endblock %}</title>
		<link rel="shortcut icon" href="/favicon.ico">
		<style>
			body {
				margin: 0px 20px;
			}
			h2 {
				margin: 0px;
			}
			section {
				display:block;
			}
			section#description section {
				margin: 10px 0px;
			}
			section p {
				margin: 0px 0px 0px 20px;
			}
		</style>
	</head>
	<body>
		<header>
			<h1>gaa</h1>
		</header>

		<section id='faq'>
			<h2>faq</h2>
			<dl>
				<dt>なにこれ</dt>
				<dd>ブラウザで動くtwitterクライアントです。</dd>
			</dl>
			<dl>
				<dt>twitterクライアントって何</dt>
				<dd><a href="http://www.google.com.au/search?q=twitterクライアントって何&ie=utf-8&oe=utf-8&aq=t&rls=org.mozilla:en-US:official&client=firefox-a">こちらへどうぞ</a></dd>
			</dl>
			<dl>
				<dt>IEで動かないんだけど</dt>
				<dd><a href="http://www.mozilla.com/en-US/firefox/personal.html">Firefox</a>,<a href="http://www.opera.com/">Opera</a>,<a href="http://www.google.com/chrome/">google chrome</a>を使いましょう。</dd>
			</dl>
			<dl>
				<dt>○○する機能が無い。</dt>
				<dd>気が向いたら実装するかもしれません。</dd>
			</dl>
			<dl>
				<dt>使い方がわからない。</dt>
				<dd>適当にボタンとか文字とかクリックしたらきっとわかります。</dd>
			</dl>
			<dl>
				<dt>OAuth怖い</dt>
				<dd>使うのを止めましょう。まーやろうと思えばDM見たり勝手にPOSTしたりとかできるんだけどめんどくせーっつーか俺にメリットが無いっつーか。</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd></dd>
			</dl>
		</section>

		<footer>
		<a href="/about">戻る</a>
		</footer>

	</body>
</html>
